<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
  -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/ng-cordova-beacon.min.js"></script>

    <!-- Firebase -->
    <script src="js/firebase.js"></script>
    <!-- AngularFire -->
    <script src="js/angularfire.min.js"></script>

    <script src="js/app.js"></script>
  </head>
  <body ng-app="starter">

    <ion-pane>
      <ion-header-bar class="bar-stable">
        <h1 class="title">Dihouse</h1>
      </ion-header-bar>
      <ion-content ng-controller="MainController">
        <h1>Hacking</h1>
        <h3>Monitoring</h3>
        <p>{{result}}</p>
        <h3>State</h3>
        <p>{{stateResult}}</p>
        <h3>Range</h3>
        <p>{{rangeResult}}</p>
        <div class="list">
            <div class="item" ng-repeat="(key, value) in beacons">
                <div class="row">
                    <div class="col truncate">
                        {{value.uuid}}
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        major: {{value.major}}
                    </div>
                    <div class="col">
                        minor: {{value.minor}}
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        {{value.proximity}}
                    </div>
                </div>
            </div>
        </div>

        <div class="list">
            <div class="item" ng-repeat="(key, value) in data">
              <div class="row">
                  <div class="col truncate">
                      {{key}} {{value}}
                  </div>
              </div>
            </div>
        </div>
        Key: <input ng-model="key">
        Value: <input ng-model="value">
        <button ng-click="addValue()"> Add value </button>
      </ion-content>
    </ion-pane>
  </body>
</html>
